/bin/Debug/net9.0/appsettings.Development.json
/bin/Debug/net9.0/appsettings.json
/bin/Debug/net9.0/M2I_FirstAspNetApp.deps.json
/bin/Debug/net9.0/M2I_FirstAspNetApp.dll
/bin/Debug/net9.0/M2I_FirstAspNetApp.exe
/bin/Debug/net9.0/M2I_FirstAspNetApp.pdb
/bin/Debug/net9.0/M2I_FirstAspNetApp.runtimeconfig.json
/bin/Debug/net9.0/M2I_FirstAspNetApp.staticwebassets.endpoints.json
/bin/Debug/net9.0/M2I_FirstAspNetApp.staticwebassets.runtime.json

/../.idea/
