@model PageViewModel<List<Todo>, Todo>

@{
    ViewData["Title"] = "Contacts";
}

<h2>Contacts</h2>

<form asp-action="AddTask" method="post">
    <input type="text" name="title">
    <button type="submit">Ajouter</button>
</form>

<ul>
    @foreach (Todo todo in Model.ItemList)
    {
        <li>
            [@todo.Id] @todo.Title - @todo.IsDone
            <form style="display: inline">
                <input type="hidden" name="id" value="@todo.Id">
                <button asp-action="EndTask">Terminer</button>
            </form>
        </li>
    }
</ul>