@model PageViewModel<List<Contact>, Contact>

@{
    ViewData["Title"] = "Contacts";
}

<h2>Contacts</h2>

<form asp-action="Add" method="post">
    <input type="text" asp-for="ItemType.Name">
    <input type="text" asp-for="ItemType.Email">
    <input type="text" asp-for="ItemType.Phone">
    <button type="submit">Ajouter</button>
</form>

<ul>
    @foreach (Contact contact in Model.ItemList)
    {
        <li>
            [@contact.Id] @contact.Name - @contact.Email - @contact.Phone
            <form style="display: inline">
                <input type="hidden" name="id" value="@contact.Id">
                <button asp-action="Delete">Supprimer</button>
            </form>
        </li>
    }
</ul>